* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    background-color:#dddddd;

}

.tab,
td {
    border: 1px solid white;
    font-size: 20px;
    color:black;
}


button {
    width: 60px;
    height: 30px;
    margin-left: 10px;
    border-radius: 8px;
    border:1px solid white;
}

/* #card{
width: 400px;
height: 500px;
background-color: blueviolet;
margin: 0 auto;

} */