* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    li {
        list-style: none;

    }
}
body{
background-color: #FDF0E9;
}
main {
    width: 100%;
    background-color: #FDF0E9;
    font-family: 'Epilogue', sans-serif;

    hr {
        color: rgba(243, 209, 191, 1);
        width: 1440px;
        margin: 0 auto;
    }
}
footer{
    background-color: #FDF0E9;

}

* {
    button {
        cursor: pointer;
    }

    a {
        cursor: pointer;
        text-decoration: none;
    }
}

.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}
.container-2 {
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
}
.container-3 {
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
}

