*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.con{
width: 100%;
height: 100vh;
display: flex;
justify-content: stretch;
}
.con{
    width: 100%;
    height: 100vh;
    display: flex;
    /* flex-wrap:wrap ; */
    }
    .con div{
        width: 33.3%;
        height: 25%;
        text-align: center;
        color: aliceblue;
        font-size: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .a1{
        order: 2;
        background-color: aqua;
        }
        .a2{
            order: 3;
            background-color:blue ;
        
        }
        .a3{
            order: 9;
            background-color:blueviolet;
        }
        .a4{
            order: 4;
            background-color:burlywood;
        }
        .a5{
            order: -1;
            background-color:chartreuse;
        }
        .a6{
            order: 5;
            background-color:brown;
        }
        .a7{
            order: 10;
            background-color:chartreuse
        }
        .a8{
            order: 7;
            background-color:cadetblue;
        }
        .a9{
            order: 1;
            background-color:black;
        }
        .a10{
            order: 8;
            background-color:chocolate
        }