.containerCard {
    max-width: 1240px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 100px auto;
    gap: 20px;
}
.forms{
display: flex;
align-items: center;
justify-content: center;
margin:100px auto;
}

#customerCard {
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    padding: 40px;
    background-color: darkgray;
    border-radius: 20px;
    p {
        font-size: 17px;
        font-weight: 700;
        color:black;
        border-bottom: 1px solid;
    }
}




input {
    width: 440px;
    height: 40px;
    border: none;
    border-radius: 6px;
    margin-bottom: 10px;
    padding-left: 30px;
}

form {
    width: 500px;
    background-color: darkcyan;
    padding: 30px;
    border-radius: 6px;
    fieldset{
        border: none;
    }

    p {
        font-size: 20px;
        font-weight: 700;
        color: cornsilk;
    }

    button {
        width: 100px;
        height: 40px;
        border-radius: 6px;
        border: none;
        margin-left: 40%;
        color: darkcyan;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
    }
}